@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

body {
  padding: 0;
  margin: 0;
  background: #003038;
  color: white;
  font-family: 'Nunito', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  text-align: center;
}
.btn-answers {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}
.btn {
  border: 1px solid #1099b1;
  background: #034c5a91;
  color: #1099b1;
  padding: 10px 20px;
  border-radius: 19px;
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}
.answers {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.answers h3 {
  margin-bottom: 34px;
}
